table {border-collapse: collapse}
tr {}
th, td {
    width: 120px;
    border: 1px solid #ccc;
    padding: 5px 0;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.good {
    color: blue;
}