.slider {
    width: 600px;
    margin: 50px auto;
}

.slider img {
    width: 100%;
}

.control {
    text-align: center
}
button {
    padding: 18px 20px;
}

.page {
    margin-top: 20px;
    text-align: center;
}

.page li {
    display: inline-block;
    width: 80px;
    margin: 0 5px;
}

.page li img {
    width: 100%;
}